
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#logo-jagoin img {display: none;}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {#logo-jagoin img {margin:10px 10px 10px 0; display: block;}}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {#logo-jagoin img {margin:10px 10px 10px 0; display: block;}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {#logo-jagoin img {margin:10px 10px 10px 0; display: block;}}

#logo-jagoin {
    font-size:25px !important;
    text-decoration:none;
    font-family: 'Orbitron', sans-serif !important;
    color:#31518E;
    margin:20px 0 !important;
}

/*#logo-jagoin img {margin:10px 10px 10px 0}*/
